<!DOCTYPE html>
<!-- saved from url=(0037)http://bootstrapk.com/examples/theme/ -->
<html lang="ko-KR">

<head>
<!-- header -->
<% include head.ejs %>
</head>

<body role="document">
	<!-- Fixed navbar -->
	<%- include('navBar.ejs',{login:login,userId:userId}) %>

		<!--  이곳이 중앙에 들어갈 곳.  -->

	<!-- /container -->


	<!-- footer  -->
	<%include footer.ejs %>

</body>
</html>
